/* Variable Decleration */
:root{

    /* Font Variable */
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-manrope:'Manrope', sans-serif;

    /* Color Variable */
    --dead-pixel: #3a3a3a;
    --watermelon-sugar: #E02C6D;
    --watermelon-sugar-87: #e02c6dde;
    --white : #fff;
    --river-styx : #18191F;
    --black-87: #000000de;
    --the-new-black: #FB8200;
    --roycroft-pewter: #5E6366;
    --infamous: #787885;
    --mysterious-depths: #0A0826;
    --midnight-express: #22203B;
}

/* Document Style Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Decleration */

.container{
    width: 1440px;
    margin: 0 auto;
}

.inner-container{
    width: 1200px;
    margin: 0 auto;
}

.custom-red-btn{
    display: flex;
    align-items: center;
    background-color: var(--watermelon-sugar);
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    border-radius: 41px;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.custom-red-btn:hover{
    color: var(--watermelon-sugar);
    background-color: transparent;
    border: 2px solid var(--watermelon-sugar);
}

.custom-red-btn i{
    margin-left: 8px;
}

.custom-btn-not-bg{
    color: var(--watermelon-sugar-87);
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.custom-btn-not-bg i{
    margin-left: 8px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-title{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: var(--dead-pixel);
    text-align: center;
}

/* Navigation Styling */

.navbar-container{
    display: grid;
    grid-template-columns: 250px 1fr 95px;
    padding: 95px 0 42px;
}

/* Logo Styling */

.logo a{
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--dead-pixel);
    text-decoration: none;
}

/* Menu Styling */
.menu-wrapper ul{
    display: flex;
    justify-content: flex-end;
}

.menu-wrapper ul li{
    margin-right: 35px;
    list-style: none;
}

.menu-wrapper ul li a{
    text-decoration: none;
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 16;
    line-height: 24px;
    color: var(--dead-pixel)
}


/* Others Navigation Items Styling */

.nav-items ul{
    display: flex;
}

.nav-items ul li{
    list-style: none;
    margin-right: 35px;
}

.nav-items ul li:last-child{
    margin-right: 0;
}


.nav-items ul li a{
    font-size: 20px;
    color: var(--dead-pixel);
}


/* Header Content */

.header-wrapper{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding: 42px 0 69px;
}

.header-wrapper>div{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header-left{
    flex-direction: column;
    align-items: flex-start !important;
}

.header-left h2{
 font-family: var(--font-poppins);
 font-weight: 700;
 font-size: 52px;
 line-height: 70px;
}

.header-left .header-content{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--dead-pixel);
    margin-top: 16px;
}




.header-right{
    position: relative;
}

.header-right .background-circles{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.logo-wrapper .inner-container{
    padding: 45px;
}


.logo-wrapper ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-wrapper ul li{
    list-style: none;
}

/* Popular Collection */

.popular-collections .inner-container{
    padding: 0 75px;
}

.popular-collections .items{
    grid-gap: 30px;
}

/* Single Items */
.single-item{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 16px;
}

.single-item .single-title{
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: var(--river-styx);
}

.single-item .single-pricing{
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}


.single-item .rating{
    display: flex;
    align-items: center;
}

.single-item .rating .rating-icons{
    margin-right: 8px;
}

.single-item .rating .rating-icons ul{
    display: flex;
}

.single-item .rating .rating-icons ul li{
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: var(--the-new-black);
}

.single-item .rating .rating-number{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.single-item .content{
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 14px;
    line-height: 20.02px;
    letter-spacing: 1.8%;
    color: var(--infamous);
}

.pagination{
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;
}

/* Footer Section Styles */
.footer{
    color: var(--white);
    background-color: var(--mysterious-depths);
    padding: 50px 0;
}

.footer .inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer h2{
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 3px;
}

.footer p{
    font-family: var(--font-manrope);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 3px;
}

.footer ul{
    display: flex;
    grid-column-gap: 16px;
    margin-top: 14px;
}

.footer ul li{
    list-style: none;
    background-color: var(--midnight-express);
    padding: 10px;
    border-radius: 50%;
}

.footer ul li a{
    text-decoration: none;
}

.footer ul li a i{
    color: var(--white);
    font-size: 17px;
}